# Advanced Programming
## Mahsa Keshavarzi Nejad
### ID: 400150748

## Session 1 and 2 ##

In [13]:
a = 2
b = 1
d = a or b
print(d)

2

In [15]:
a = 2
b = 1
d = a and b
print(d)

1

In [17]:
a = True
b =False
d = a and b
print(d)

False

In [19]:
a = False
b = True
d = a and b
print(d)

False

In [21]:
a = False
b = True
d = a or b
print(d)

True

In [23]:
a = 1
b = 0
d = a and b
print(d)

0

In [25]:
a = 1
b = 0
d = a or b
print(d)

1

## Introduction To Markdown

## Header

***Bold and Italic***

_Italic_

__Bold__

$Another  Font$

# List

 # 1. 1
    2. 1.1
 # 3. 2

[Click here to visit Jupiter](https://jupyter.org)

![Jupyter logo](https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg)

![m](images/Jupyter_logo.svg.png)

<img src="images/Jupyter_logo.svg.png" alt="Alt text" width="150" height="300">

```Incline Code```

> Hey

---Hello

|Header1   | Header2   |
|----------|-----------|
|Row1      |Row2       |

$$E=mc^2$$

## Session 3 ##

### String Concept

Standard form of a variable:
- camleCase 
- camle_case
#### I'm going to use the camleCase from now.

#### Creating a variable in the form of a string

In [48]:
mahsaAge= "Twenty Two"

In [50]:
len("Twenty Two")

10

In [52]:
mahsaAge[9]

'o'

In [54]:
mahsaAge[0]

'T'

In [56]:
print(mahsaAge[-1])

o

In [58]:
mahsaAge[len(mahsaAge)-1]

'o'

In [60]:
mahsaAge[1:3]

'we'

In [62]:
firstName = "Mahsa"
lastName = "Keshavarzi Nejad"

fullName = firstName +" "+ lastName

print(fullName)

Mahsa Keshavarzi Nejad

In [64]:
a=" years old"
age =mahsaAge+a
print(age)

Twenty Two years old

In [66]:
firstName*100

'MahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsa'

In [68]:
tempInt = 1
tempStr = "1"

print(tempInt*2)
print(tempStr*2)

2
11

In [70]:
print(mahsaAge.find("a"))

fullName.find(lastName)

-1

6

In [72]:
T="T"
mahsaAge.find(T)

0

## Session 4 ##

In [75]:
a = 2
b = a
print(b)

2

In [77]:
a = 2
b = 2
a == b

True

### Immutable

In [80]:
myName="Mahsa"
myFamilly=" Keshavarzi Nejad"
myBrotherName="Parsa"
myFullName=myName+myFamilly
print(myFullName)

Mahsa Keshavarzi Nejad

In [82]:
myBrotherFullName= myFullName.replace(myName, myBrotherName)

In [84]:
myBrotherFullName

'Parsa Keshavarzi Nejad'

In [86]:
myBrotherFullName*2

'Parsa Keshavarzi NejadParsa Keshavarzi Nejad'

In [88]:
myName.upper()

'MAHSA'

In [90]:
myName.lower()

'mahsa'

In [92]:
number= "12344"
number.isalpha()

False

In [94]:
Name= "f efe frfv rfvf"
Name.split(' ')

['f', 'efe', 'frfv', 'rfvf']

In [96]:
teacher_name1 = "Amir,houshang,Hoseinpour,Dehkordi"
teacher_name1.split(',')

['Amir', 'houshang', 'Hoseinpour', 'Dehkordi']

In [98]:
time ="17:45:43"
time.split(":")

['17', '45', '43']

In [100]:
dir(time)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [102]:
help(time.translate)

Help on built-in function translate:

translate(table, /) method of builtins.str instance
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [104]:
help(myFullName.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [106]:
tempString= 'A\nB\tC'
print(tempString)

A
B	C

In [108]:
print("\"")

"

In [110]:
temp_name = 'mahsa\nKeshavarzi'
print(temp_name)

mahsa
Keshavarzi

In [112]:
tempString= 'A\0B\0C'
print(tempString)

A B C

## Session 5 ##

In [115]:
if True:
    print("Salam")

Salam

In [117]:
if False:
    print("Salam")

In [119]:
if 3:
    print("Salam")

Salam

In [121]:
if 0:
    print("Salam")

In [123]:
if "":
    print("Salam")

In [125]:
if "Amir":
    print("Salam")

Salam

In [126]:
if len(myName)>=5:
    print("Long name")

Long name

In [129]:
if len(myName)>=7:
    print("Long name")
else:
    print("Short name")

Short name

In [131]:
if len(myFullName)>=7:
    print("Long name")
else:
    print("Short name")

Long name

In [133]:
inputName = "amir"

if len(inputName)<=3:
    
    print("Short name")
    
elif 3<len(inputName)<=5:
    
    print("Medium name")
    
else:
    
    print("Long name")

Medium name

In [135]:
inputName = "ava"

if len(inputName)<=3:
    
    print("Short name")
    
elif 3<len(inputName)<=5:
    
    print("Medium name")
    
else:
    
    print("Long name")

Short name

In [137]:
age = 18

if age>20:
    if not age %2 :
        print("even,adult")
    else :
        print("odd,adult")
else:
    if not age %2 :
        print("even,child")
    else :
        print("odd,child")

even,child

In [139]:
age = 19

if age>20:
    if age %2 ==0 :
        print("even,adult")
    else :
        print("odd,adult")
else:
    if age %2==0 :
        print("even,child")
    else :
        print("odd,child")

odd,child

In [141]:
## this code is just an extra code by me from my last memmories of pythone.

a= input("Please enter your name: ")
if len(a)> 8:
    print("long name")
elif 5<=len(a)<=8:
    print("medium")
else:
    print("Short name")

Please enter your name:  mahsa

medium

In [143]:
## this code is just an extra code by me from my last memmories of pythone.
age= int(input("enter your age"))
if age<20 :
    if age%2==0:
        print("less than 20 and even")
    elif age%2==1:
        print("less than 20 and odd")
else:
    if age%2==0:
        print("even and more than 20")
    else:
        print("odd and more than 20")

enter your age 22

even and more than 20

### While loop

In [145]:
tempInt = 10
while tempInt > 0:
    print(tempInt)
    tempInt-=1 #temp_int -=1 === temp_int - 1

10
9
8
7
6
5
4
3
2
1

In [147]:
n = 12  
fib_sequence = [0, 1]

for i in range(2, n):
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [149]:
fib_sequence = [0, 1]

while True:
    next_number = fib_sequence[-1] + fib_sequence[-2]
    if next_number >= 100:
        break
    fib_sequence.append(next_number)

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [151]:
fib_sequence = [0, 1]

while fib_sequence[-1] + fib_sequence[-2] < 100:
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])

print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Session 6

### _check if p is a prime number_

In [155]:
p = 5
temp_P = p-1
aya_aval_ast = True
while temp_P > 1:
    if p % temp_P == 0 :
        aya_aval_ast = False
        break
    temp_P -= 1
if aya_aval_ast:
    print("is Prime")
else:
    print("is not Prime")

is Prime

## Session 7

### For loop

In [159]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [161]:
sum =0
for i in range (5):
    sum+=i
print(sum)

10

In [163]:
sum = 0
for i in range(5):
    sum+= i
    print('i='+str(i)+',sum='+str(sum))
print('end')

i=0,sum=0
i=1,sum=1
i=2,sum=3
i=3,sum=6
i=4,sum=10
end

In [165]:
n = 10
for i in range(1,n+1):
    n *= i
print(n)

36288000

In [167]:
n=10
fact=1
for i in range(n):
    fact=fact*(i+1)
print(fact)

3628800

In [169]:
n=5
for i in range(5):
    n=n*(i+1)
print(n)

600

In [171]:
for i in range(2,9,2):
    print(i)

2
4
6
8

In [173]:
for i in range(0, 25):
    if (i+1)%3!=0:
        print(i+1)
    else:
        print("Hop")

1
2
Hop
4
5
Hop
7
8
Hop
10
11
Hop
13
14
Hop
16
17
Hop
19
20
Hop
22
23
Hop
25

## Session 8

## _Introduction to lists_

In [177]:
a=23

In [179]:
str(a)

'23'

In [181]:
w=a+7
print(a)

23

In [183]:
pi= 3.14

In [185]:
int(pi)

3

In [187]:
tempList=[22, 'Mahsa', 3.14]

In [189]:
tempList[:-1]

[22, 'Mahsa']

In [191]:
tempList[1:]

['Mahsa', 3.14]

In [193]:
tempList[2]

3.14

In [195]:
str(tempList[2])

'3.14'

### Adding to the list

In [198]:
tempList=tempList+[2, 'Programming', 2.71828]

In [200]:
tempList

[22, 'Mahsa', 3.14, 2, 'Programming', 2.71828]

In [202]:
tempList+=['Ali']

In [204]:
tempList

[22, 'Mahsa', 3.14, 2, 'Programming', 2.71828, 'Ali']

In [206]:
tempList.append('Fazel')

In [208]:
tempList

[22, 'Mahsa', 3.14, 2, 'Programming', 2.71828, 'Ali', 'Fazel']

In [210]:
dir(tempList)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [212]:
dir(2)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [214]:
tempList.pop(1)

'Mahsa'

In [216]:
tempList

[22, 3.14, 2, 'Programming', 2.71828, 'Ali', 'Fazel']

In [218]:
ages=[23, 33, 44, 67, 67.9]
ages.sort()

In [220]:
ages

[23, 33, 44, 67, 67.9]

In [223]:
ages=['23', '33', '44', '67', '6.9']
ages.sort()
ages

['23', '33', '44', '6.9', '67']

In [225]:
p=['s', '2', '35', 'b', 'A', 'B', '4']
p.sort()
p

['2', '35', '4', 'A', 'B', 'b', 's']

#### Nesting

In [228]:
nestedArray=[[2,8,9],[9,8,7],[3,6,5]]
nestedArray[1][2]

7

In [230]:
my_grades = [20,17,1,12]

for i in my_grades:
    print(i)

20
17
1
12

In [232]:
courses = ['Math', 'Physics', 'Programming', 'History']

In [234]:
for i in range(len(courses)):
    print(f"Course: {courses[i]}, Grade: {my_grades[i]}")

Course: Math, Grade: 20
Course: Physics, Grade: 17
Course: Programming, Grade: 1
Course: History, Grade: 12

In [236]:
myScore=[9,16,20,18,12]
myCourses=['math','physics','chemistry','ap','ss']
a=[]
for i in range(len(myScore)):
    if myScore[i]>=10:
        print(myScore[i],"is for", myCourses[i])

16 is for physics
20 is for chemistry
18 is for ap
12 is for ss

#### Q. Print courses that you passed in the decending order

In [239]:
my_grades = [9,17,18,19]
my_classes = ['Math', 'Physics', 'Programming', 'Theory of probability']
for i in range(len(my_grades)):
    if my_grades[i] >= 10:
        print(my_classes[i],'=',my_grades[i])

Physics = 17
Programming = 18
Theory of probability = 19

In [241]:
for i in range(len(my_grades)):
    print(my_classes[i]+'='+str(my_grades[i]))

Math=9
Physics=17
Programming=18
Theory of probability=19

### Floor and Ceiling Function

In [244]:
pi = 3.14
int(pi)

3

In [246]:
e = 2.7
int(e)

2

## Session 9

 #### Dictionaries

In [250]:
myProfile={'First name':'Mahsa', 'Last name':'Keshavarzi Nejad', 'age':22}
print(myProfile)

{'First name': 'Mahsa', 'Last name': 'Keshavarzi Nejad', 'age': 22}

In [252]:
nameDict={'first name':'Mahsa', 'last name':'kzn'}
myProfile={'name':nameDict, 'age':22}
print(myProfile)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22}

In [254]:
cities=['Tehran','Shiraz','Rasht','Mashhad']

In [256]:
myProfile['cities'] = cities
print(myProfile)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad']}

In [258]:
myProfile["cities"][0]

'Tehran'

In [260]:
myProfile["friends"]=[
    {'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id':13}, 
    {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age':22, 'id':0}]

In [262]:
print(myProfile)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}]}

In [264]:
print(myProfile)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}]}

In [266]:
myProfile['cities'][-1]

'Mashhad'

In [268]:
myProfile['friends'].append({'first name': 'Gita' , 'Last name': '-', 'age': 22 , 'Id':'3'})
myProfile

{'name': {'first name': 'Mahsa', 'last name': 'kzn'},
 'age': 22,
 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'],
 'friends': [{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13},
  {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0},
  {'first name': 'Gita', 'Last name': '-', 'age': 22, 'Id': '3'}]}

#### Q. Print the name of the oldest friend and average age of your friends

In [271]:
def oldestAverageFriend(myProfile):
    maxAge = 0
    maxFriend = 0
    sumAge = 0
    for i in myProfile["friends"]:
        sumAge += i["age"]
        if i["age"] > maxAge:
            maxAge = i["age"]
            maxFriend = i
    averageAge = sumAge / len(myProfile["friends"])
    return [maxFriend,averageAge ]

In [273]:
oldestFriend = oldestAverageFriend(myProfile)[0]
print(oldestFriend["firstname"])
averageAgeOfFriend = oldestAverageFriend(myProfile)[1]
print(averageAgeOfFriend)
output = oldestAverageFriend(myProfile)
print(output)

Fazel
23.0
[{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13}, 23.0]

## Session 10

In [276]:
myProfile.keys()

dict_keys(['name', 'age', 'cities', 'friends'])

In [278]:
myProfile.values()

dict_values([{'first name': 'Mahsa', 'last name': 'kzn'}, 22, ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], [{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}, {'first name': 'Gita', 'Last name': '-', 'age': 22, 'Id': '3'}]])

In [280]:
if "age" in myProfile.keys():
    print("age exists")
    
else:
    print("age doesn't exists")

age exists

In [282]:
if "age" in myProfile.keys():
    if (myProfile["age"])>=18:
        print("allowed to drink")
    else:
        print("forbbiden!")

allowed to drink

In [284]:
tempFile= open('myProfile.txt', 'w')
tempFile.write(str(myProfile))
tempFile.close()

In [286]:
amirFile= open('amirProfile.txt', 'r')
amirProfile= amirFile.read()
amirFile.close()

In [288]:
print(amirProfile)

{'name': {'firstName': 'Amirhoshang', 'lastName': 'Hoseinpour Dehkordi'}, 'age': 34, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'farhadFriends': {'bestFriend': {'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'Bender', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 0: {'firstName': 'Bender1', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 2: {'firstName': 'Bender3', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}}, 'friends': [{'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, {'firstName': 'Bender', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, {'firstName': 'Amy', 'lastName': 'Wong', 'age': 30, 'id': 2}]}

## Session 11

## Function

In [292]:
print(len("Mahsa"))

5

In [294]:
def nameFunction(myInput):
    ## print(myInput)
    return myInput*2

In [296]:
myFunctionValue=nameFunction('Mahsa')

In [298]:
myFunctionValue

'MahsaMahsa'

#### Fobonacci using function

In [301]:
def Fib(n):
    fib_sequence = [0, 1]
    
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    
    return fib_sequence


print(Fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**function for fib**

In [304]:
n=5
mult=1
for i in range(n):
    mult=mult*2
a=mult
print(myName*a)

MahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsaMahsa

In [306]:
def power2(n):
    mult=1
    for i in range(n):
        mult=mult*2
    return(mult)
power2(7)

128

In [308]:
def power_k(k, n):
    mult=1
    for i in range(n):
        mult=mult*k
    return(mult)
power_k(3,4)

81

#### Hop using function

## Session 12
## Data flow

In [312]:
myId = 14
myProfile["id"] = myId
myProfile

{'name': {'first name': 'Mahsa', 'last name': 'kzn'},
 'age': 22,
 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'],
 'friends': [{'firstname': 'Fazel', 'Lastname': 'Basiri', 'age': 25, 'id': 13},
  {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0},
  {'first name': 'Gita', 'Last name': '-', 'age': 22, 'Id': '3'}],
 'id': 14}

In [314]:
temp_file = open(str(myProfile["id"])+".txt" , "w")
temp_file.write(str(myProfile))
temp_file.close()

### Opening TXT files

In [317]:
f = open("Classmates/1.txt")
data = f.read()
print(data)

{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}

In [319]:
import glob


fileList = glob.glob('Classmates/*.txt')


for fileName in fileList:
    with open(fileName, 'r') as file:
        content = file.read()
        print(f"Contents of {fileName}:")
        print(content)
        print("\n")

Contents of Classmates\1.txt:
{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}


Contents of Classmates\10.txt:
{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'farhadFriends': {'bestFriend': {'firstName': 'ikkin', 'lastName': 'golabi', 'age': 2, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'hossein', 'lastName': 'hezarpa', 'age': 40, 'id': 1}, 0: {'firstName': 'pedram', 'lastName': 'shahraki', 'age': 13, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 2: {'firstName': 'shahrooz', 'lastName': 'shabpareh', 'age': 60, 'id': 1}}, 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}


Contents of Classmates\11.txt:
{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}


Contents of Classmates\12.txt:
{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}


Contents of Classmates\13.txt:
{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}


Contents of Classmates\14.txt:
{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}


Contents of Classmates\16.txt:
{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': {'TEHRAN', 'KISH', 'ABADAN'}, 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}


Contents of Classmates\17.txt:
{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}


Contents of Classmates\18.txt:
{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}


Contents of Classmates\19.txt:
{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}


Contents of Classmates\2.txt:
{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}


Contents of Classmates\4.txt:
{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}


Contents of Classmates\5.txt:
{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}


Contents of Classmates\6.txt:
{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}


Contents of Classmates\7.txt:
{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}


Contents of Classmates\8.txt:
{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}


Contents of Classmates\9.txt:
{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}

**User Defined Classes**

In [322]:
f=open("classmates/14.txt")
data= f.read()
f.close()
print(data)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}

In [324]:
import os
ROOT_DIR= os.path.abspath(os.curdir)
print(ROOT_DIR)
arr= os.listdir(ROOT_DIR+'/classmates')
print(arr)

C:\Users\ASUS\Documents\Advanced Programming
['1.txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [326]:
listOffProfiles=[]
for i in arr:
    f=open("classmates/"+i)
    tempProfile= f.read()
    listOffProfiles.append(tempProfile)
    f.close()
print(data)

{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}

In [349]:
classmatesProfile = []

for i in arr:
    f = open('Classmates/'+ i)
    tempProfile = f.read()
    classmatesProfile.append(tempProfile)
    f.close()
classmatesProfile

["{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}",
 "{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'farhadFriends': {'bestFriend': {'firstName': 'ikkin', 'lastName': 'golabi', 'age': 2, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'hossein', 'lastName': 'hezarpa', 'age': 40, 'id': 1}, 0: {'firstName': 'pedram', 'lastName': 'shahraki', 'age': 13, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 2: {'firstName': 'shahrooz', 'lastName': 'shabpareh', 'age': 60, 'id': 1}}, 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}",
 "{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}",
 "{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}",
 "{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}",
 "{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}",
 "{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': {'TEHRAN', 'KISH', 'ABADAN'}, 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}",
 "{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}",
 "{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}",
 "{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}",
 "{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}",
 "{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}",
 "{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}",
 "{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}",
 "{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}",
 "{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}",
 "{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}"]

## According to the teacher's instructions, the requested Notebook was mandatory until this part of the code.
## I need more time to work on the codes in sessions 14 and 15 which are not included in this notbook(and wreren't necessary to be includd in this notebook).
## The following codes are for sessions 16 and 17.

## HW of session 11

In [332]:
def swap(a,b):
    return b ,a

print(swap(1,2))

(2, 1)

In [334]:
def hop(a):
    if a % 5:
        return a
    else:
        return "hop"
hop(5)

'hop'

In [336]:
sum_all = 0
for i in range (len(Classmates_Profile)):
    try:
        sum_all += Classmates_Profile[i]['age']
    except:
        print(str(i)+"th has error")
print("mean")
print(sum_all/len(Classmates_Profile))

0th has error
1th has error
2th has error
3th has error
4th has error
5th has error
6th has error
7th has error
8th has error
9th has error
10th has error
11th has error
12th has error
13th has error
14th has error
15th has error
16th has error
mean
0.0

## Session 16 and 17
## Csv Format

In [339]:
import pandas as pd
df= pd.read_csv('title.ratings.tsv', sep='\t')
display(df)

            tconst  averageRating  numVotes
0        tt0000001            5.7      2104
1        tt0000002            5.6       282
2        tt0000003            6.5      2123
3        tt0000004            5.4       182
4        tt0000005            6.2      2852
...            ...            ...       ...
1503477  tt9916730            7.0        12
1503478  tt9916766            7.1        24
1503479  tt9916778            7.2        37
1503480  tt9916840            6.9        11
1503481  tt9916880            7.9         9

[1503482 rows x 3 columns]

In [340]:
maxClm = df['averageRating'].max()
print("Maximum value in column 'averageRating': ")
print(maxClm)

Maximum value in column 'averageRating':
10.0

In [341]:
maxClm = df['numVotes'].max()
print("Maximum value in column 'numVotes': ")
print(maxClm)

Maximum value in column 'numVotes':
2967074